services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    env_file: .env
    restart: unless-stopped
    container_name: "todos_app"
    volumes:
      - .:/app
    depends_on:
      - mongo
    ports:
      - "8091:8000"

volumes:
  mongo_data:
